
html {
  height: 100%;
}
:root {
  overflow-x: hidden;

  --lether-0: #a68975;
  --lether-1: #906b52;
  --lether-2: #735642;
  --lether-3: #5c4535;
  --lether-4: #4a372a;
  --lether-5: #3b2c22;
  --lether-6: #2f231b;
  --lether-7: #261c16;
  --lether-8: #1e1612;
  --lether-9: #18120e;
  --lether-10: #130e0b;

  --olive-1: #757533;
  --olive-2: #525200;
  --olive-3: #424200;
  --olive-4: #353500;
  --olive-5: #2a2a00;
  --olive-6: #222200;
  --olive-7: #1b1b00;
  --olive-8: #161600;
  --olive-8: #121200;

}
@import "react-alice-carousel/lib/alice-carousel.css";
@font-face {
  font-family: myFirstFont;
  src: url(../public/fonts/JosefinSans-VariableFont_wght.ttf);
  font-family: mySecondFont;
  src: url(../public/fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: myThirdFont;
  src: url(../public/fonts/DancingScript-Medium.ttf);
}
.mainBodyHome {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.5vw;
  top: 5vh;
}
.signUpDisplay{



}
.logInDisplay{



}
/* ///////////siteHeader */
.siteHeaderContainer {
  display: flex;
  width: 99.5vw;
  height: 50vh;
}
.zitataHalf {
  width: 30vw;
  /* background-color: rgb(35, 35, 35); */
  background: rgba(58, 57, 57, 0.7)
    url("../public/images/barberanimation.gif");
  overflow: hidden;
  background-size: cover;
}
.zitatatContainer {
  display: flex;
  justify-content: center;
  position: relative;
}
.zitata {
text-align: center;
  font-size: 3.5vw;
  text-align: center;
  position: relative;
  font-family: myFirstFont;
  top: 10vh;
  padding: 2rem;
  word-spacing: 0.5rem;
  line-height: 3rem;
  text-shadow: 2px 2px 4px #989797;
  
  color: white;
  font-weight: 400;
}
.logoHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(58, 57, 57, 0.7)
    url("../public/images/homePage-Grooming.jpeg");
  background-position: 50%;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}
.logoContainer {
  position: relative;
}
.logo {
  position: relative;
}
body {
  margin: 0;
}
/* ///////////navBar */
.navBarContainer {
  width: 99.5vw;
  height: 9vh;
  background-color: #151414;
  border-bottom: solid #130e0b 0.1vw;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  position: fixed;
  z-index: 3;
  opacity: 0.99;
  display: flex;
  justify-content: end;
  z-index: 999;
  
}
.navBarName {
  font-weight: 700;
  position: absolute;
  margin: 0;
  color: rgb(240, 255, 219);
  left: 1vw;
  top: 2vh;
}
.navBarButtonsContainer {
  position: relative;
  display: flex;
  right: 2vw;
}
.navBarButton {
  color: rgb(240, 255, 219);
  background-color: #151414;
  border: none;
  font-weight: 700;
  height: 65%;
  transition: linear 0.3s;
  position: relative;
}
.navBarButton:hover {
  bottom: 0.02vw;
  margin-left: -0.2vw;
  margin-right: 0.2vw;
  transition: linear 0.3s;
}
/* /////////////aboutUs */
.aboutUsContainer {
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(25,118,159,1) 0%, rgba(251,251,251,1) 0%);
  background-size: cover;
  height: 50vh;
  width: 99.5vw;
  background-color: white;
  position: relative;
  margin-top: 0.5vh;
  align-items: center;
  text-align: left;
  

  
}
.aboutUsHeader {

  color: rgb(0, 0, 0);
  font-family: myFirstFont;
  margin: 0;
  /* margin-left: 35%; */
  position: relative;
  bottom: 5vh;
  text-shadow: 2px 2px 4px #656565;
  text-align: center;
  font-size: 4rem;
  top:-4rem;
  
}
.aboutUsContent {
  color: white(0, 0, 0);
  margin: 0;
  margin-left: 13%;
  position: absolute;
  left: 2vw;
  right: 2vw;
  word-spacing: 0.5rem;
   line-height: 2.5rem;
   text-align: center;
   text-shadow: 2px 2px 4px #989797;
   width: 70%;

}
/* //////////stories */
.storiesContainer {
  height: 80vh;
  width: 99.5vw;
  background-color: rgb(27, 27, 27);
  position: relative;
  text-align: center;
  margin-top: 0.5vh;
  justify-content: center;
  
}
.storiesHeader {
  text-align: center;
  color: whitesmoke;
  font-family: myFirstFont;
  margin: 0;
 
  position: relative;
  padding: 2rem;
  text-shadow: 2px 2px 4px #989797;
  text-shadow: 1vh 1vh rgba(255, 255, 255, 0.062);
}
.cardsContainer {
  margin-top: 6rem;
  left: auto;
  position: relative;
  margin-left: 10%;
  
}
.ourResultCard {
  height: 45vh;
  
  background-color:transparent;
  border: 0.1vw solid black;
  justify-content: center;
  align-items: end;
  overflow: visible;
  border-radius: 10px;
  align-items: center;
  object-fit: cover;
  
}
.ourResultCard img {
  width: 99%;
  height: 99%;
  object-fit: cover;
  border-radius: 10px;
}
.cardAvatar {
  position: absolute;
  bottom: 7vh;
  left: 7.5vw;
  font-size: 2vw;
}
.storieImage {
  position: relative;
  width: 100%;
 
  
}
/* //////////creativeTeam */
.creativeTeamContainer {
  height: 80vh;
  width: 99.5vw;
  background-image: url("../public//images/yearone-2y4qGxu-4Do-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  margin-top: 0.5vh;
  display: flex;
  flex-direction: column;
  
}
.creativeTeamHeader {
  color: whitesmoke;
  font-family: myFirstFont;
  margin: 0;
  
  position: relative;
  bottom: -5vh;
  text-shadow: 1vh 1vh rgba(255, 255, 255, 0.062);
  text-align: center;
  font-size: 3rem;
}
.creativeTeamCardsContainer{
  min-height: 65vh;
  height: auto;
  width: auto;
  position: relative;
  top: 10%;
  border-top: 0.2rem solid rgb(247, 244, 244);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  left:0

}
.cardBottom{
  border-bottom: 0.2rem solid rgb(247, 244, 244);
  border-left: 0.2rem solid rgb(247, 244, 244);
  border-radius: 5px;
  height: 3rem;
  width: 102%;
  background-color: #000000;



}
/* //////////details */
.detailsContainer {
 
  margin-top: 0.5vh;
  width: 100vw;
}
/* /////////profile */
.profileAvatar {
  position: relative;
  top: 5vh;
}
.profileUserName {
  position: relative;
}
.profileHeaderBackground {
  width: 100%;
  height: 14vh;
  position: absolute;
  background-color: #ffffff;
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.356);
}
.profileUserDetails {
  position: relative;
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.356);
  gap: 0.1vw;
}
.profileUserHairCuts {
  position: relative;
  border-radius: 1em;
  background-color: rgb(247, 244, 244);
  border: 1.5vw solid rgb(247, 244, 244);
}
.profileHairCutsContainer {
  position: relative;
}
.profileCard{

  position:fixed;
  height: 75vh;
  background-color: #ebebe1; 
  overflow: hidden;
  border-radius: 10px;
  border: 0.2vw solid rgb(61, 61, 61);
  
}
.profileContainer{

  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000059;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  

}
/* ///////// barber profile */
.barberProfileContainer{

  display: flex;
  flex-direction: column;
  height: fit-content;
  position: absolute;
  width: 100vw;
  align-items: center;
  top: 7vh;
  color: white;
  background-color: #0c0c0ce7;

}
.barberProfileAvatar {

  position: relative;
  top: 5vh;
  font-size: 2vw;
  

}
.profileUserNameB {
  position: relative;
}
.barberProfileHeaderBackground {
  width: 100%;
  height: 14vh;
  position: absolute;
  background-color: #ffffff;
  border-bottom: 0.1vw solid rgba(0, 0, 0, 0.356);
}
.barberProfileDetailsContainer {
  position: relative;
  display: flex;
  justify-content: center;
}
.barberProfileDetails{

  display: flex;
  justify-content: center;

}
.barberProfileHairCutsContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vh;
  border: 0.3rem solid rgb(15, 13, 13) ;

}
.barberProfileHairCuts{

  height:50vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: scroll;

}
.barberProfileTable{

  text-align: center;
  color: white;
  position: relative;
  

}
.barberProfileTableRow{

  

}
.barberProfileHairCutsHeader{

  width: fit-content;
  background-color:transparent;
  border-radius: 0.2em;
  border-bottom: 0.2vw solid rgb(15, 13, 13) ;

}
.barberProfilePhotosContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vh;

}
.barberProfilePhotosHeader{

  width: fit-content;
  background-color:transparent;
  border-radius: 0.2em;
  border-bottom: 0.2vw solid rgb(15, 13, 13) ;


}
.barberProfilePhotos{

  position: relative;

}
.barberProfileCommentsContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3vh;
  gap: 4vh;
  


}
.barberProfileCommentsHeader{

  width: fit-content;
  background-color:transparent;
  border-radius: 0.2em;
  border-bottom: 0.2vw solid rgb(15, 13, 13) ;
  margin-top: 5rem;


}
.barberProfileComments{

  color: #000000;
  
}
/* ///////////userHairCuts */
.userHairCutsContainer {
  background-color: #ebebe2;
  width: 30.5vw;
  min-height: auto;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hairCutRow {

  display: flex;
  background-color: rgb(247, 244, 244);
  gap: 16%;
  position: relative;
  border: 0.3vw rgb(247, 244, 244) solid;
  border-radius: 1em;
  box-shadow: 0vw 0vw 00vw 0.1vw;
  top:1vh;
  z-index: 2;
  
}
.userHairCutsTable{

  z-index: 1;
  position: relative;
  height:29vh;
  background-color: #ffffff;
  border:0.2vw solid #1212004b;
  top: 0.5vh;
  overflow: scroll;
  scrollbar-width: 1vw;


}
.userProfileTableRow{

  border-bottom:0.1vw solid #121200;
  display: flex; 

}
.userProfileTableCell{

  width: 36%;

}
/* ////////log in */
.logSignPageContainer{
  background-color: #151414;
  display: flex;
  position: relative;
  justify-content: center;
  justify-items: center;
  top: 9.5vh;
  overflow: hidden;
  height: 100%;
  
}
.logInContainer{
  background-color: white;
  position: relative;
  border: 0.1vw solid rgba(0, 0, 0, 0.404);
  

}
.logInImageContainer{

  position: absolute;
  background-image: url('../public/images/logIn\ background.jpeg');
  background-repeat: no-repeat;
  height: 75vh;
  z-index: 998;
  display: flex;
  transition: 1s;
  background-size: cover;

}
.SignUpContainer{
  background-color: white;


  position: relative;
  border: 0.1vw solid rgb(0, 0, 0);

}
.logInParagraph{

  font-weight: 600;
  color: #dad5d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40vh;

}
.logSignButton{

}
.imageSignAni{

 animation: log 0.5s forwards;

}
@keyframes log {
  
100%{

  left:49VW ;

}
}
.parSignAni{
  animation: parSignAni 1s forwards;
}
@keyframes parSignAni {
  
  100%{

    margin-left: 2.5vw

  }
}
.imageLogAni{

 animation: imageLogAni 0.5s forwards;

}
@keyframes imageLogAni {
0%{

  left: 49vw;

}  
}
.parLogAni{
  animation: parLogAni 1s forwards;
}
@keyframes parLogAni {
  0%{

    margin-left: 2vw;

  }
}
/* //////////log in alert */
.mustLogInContainer{

  width: 100vw;
  height: 100vh;  
  background-color: #00000075;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;

}
.mustLogInCardContainer{

  
  height: 32vh;
  background-color: #dad5d5;
  border-top: 0.3vw solid rgba(255, 0, 0, 0.5);
  border-radius: 2em;
  box-shadow: 0.4vw 0.4vw 0.3vw 0.1vw rgba(0, 0, 0, 0.384);
  position: relative;
  display: flex;
  flex-direction: column;



}
.oopsPar{

  font-family: mySecondFont;
  font-size: 1.2vw;
  color: #000000;

}
.mustLogInPar{

  font-family: mySecondFont;
  margin: 1vw;
  font-size: 1.2vw;

}
.mustLogInButton{

  position: relative;
  align-self: center;
  justify-content: end;
  top: 6vh;
  background-color: rgb(180, 153, 46);
  border: 0.1vw solid rgba(0, 0, 0, 0.336);

}
/* ///////////barber cant add comments */
.barCantContainer{

  width: 100vw;
  height: 100vh;  
  background-color: #00000075;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;

}
.barCantCardContainer{

  height: 32vh;
  background-color: #dad5d5;
  border-top: 0.3vw solid rgba(255, 0, 0, 0.5);
  border-radius: 2em;
  box-shadow: 0.4vw 0.4vw 0.3vw 0.1vw rgba(0, 0, 0, 0.384);
  position: relative;
  display: flex;
  flex-direction: column;

}
.barCantPar{

  font-family: mySecondFont;

}
.barCantButton{

  position: relative;
  align-self: center;
  justify-content: end;
  top: 6vh;
  background-color: rgb(180, 153, 46);
  border: 0.1vw solid rgba(0, 0, 0, 0.336);

}
/* ////////add photo icon */
.addPhotoIcon{

  top: 10vh;
  right:1vw;
  transition: 0.5s;

}
.addPhotoIcon:hover{

  font-size:font-size+2vw;
  top: 10.3vh;
  right: 1vw;
  color: white;
  background-color: #121200;
  border:1vw solid #121200;
  transition: 0.3s ;
  border-radius: 0.3em;

}
/* /////////add photo component */
.bookBtn{
  z-index: 99;
  background-color: rgb(60, 10, 10);
  font-weight: 500;
  font-size: 1.2rem;
  width: auto;
  height: auto;
  color: white;
  border-radius: 7px;
  border-color: white;
  margin-left: 65%;
  margin-bottom: 20%;
  width: 11rem;
  height: 4rem;
  transition: 0.8s ;

}
.bookBtn:hover{
  opacity:0.7 ;
}

/* ///////////scissors loading */
.scissorsLoadingContainer{

  width: 100vw;
  height: 100vh;  
  background-color: #00000075;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  display: flex;

}
/* //////////add description */
.addDescContainer{

  width: 100vw;
  height: 100vh;  
  background-color: #00000075;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999999;

}
.addDescCardContainer{
  width: 27vw;
  height: 32vh;
  background-color: #dad5d5;
  border-top: 0.3vw solid rgba(255, 0, 0, 0.5);
  border-radius: 2em;
  box-shadow: 0.4vw 0.4vw 0.3vw 0.1vw rgba(0, 0, 0, 0.384);
  position: relative;
  display: flex;
  flex-direction: column;
}
.addDescPar{
  
  font-family: mySecondFont;
  margin: 1vw;
  font-size: 1.2vw;
  color: #000000;

}
/* /////////pick photo */
.pickPhotoContainer{
  
  width: 100vw;
  height: 100vh;  
  background-color: #00000075;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999999;

}
.pickPhotoCardContainer{
  width: 27vw;
  height: 32vh;
  background-color: #dad5d5;
  border-top: 0.3vw solid rgba(255, 0, 0, 0.5);
  border-radius: 2em;
  box-shadow: 0.4vw 0.4vw 0.3vw 0.1vw rgba(0, 0, 0, 0.384);
  position: relative;
  display: flex;
  flex-direction: column;
}
.pickPhotoPar{
  font-family: mySecondFont;
  margin: 1vw;
  font-size: 1.2vw;
  color: #000000;
}