.container1{
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10rem;
    position: relative;
    overflow-x: auto;
    
}
.selectHaircut{
    height: 50px;
    width: 50px;
    margin-left: 49%;
}